
body{
   background-color:#3d414b;
}
.content_login{

    height:610px;
    display:flex;
    justify-content:space-around;
    align-content: center;
}

.container_login{
    display:flex;
    width:80%;
    justify-content:space-around;
    align-content: center;
    margin-top: 50px;

}

.card_login{
    width:80%;

    height: 60%;
}