{% load static %}





<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid container">
      
    <a class="navbar-brand mr-5 fs-5 fw-bolder" href="{% url 'posts' %}">
      
      <span style="color: #887c90;">M</span>
      <span style="color: #b59bb1;">S</span>
      <span style="color: #e5bbce;">M</span>
      M
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" style="color:#effbff;" href="{% url 'posts' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:#effbff;"  href="{% url 'societes' %}">Societes</a>
        </li>

        <li class="nav-item">
        {% if request.user.societe %}
          <a class="nav-link" style="color:#effbff;"  href="{% url 'mes' %}">ME</a>
        {% endif %}
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:#effbff;"  href="{% url 'materiels' %}">Material</a>
        </li>
        <li class="nav-item">
          {% if request.user.me %}
              <a class="nav-link" style="color:#effbff;"  href="{% url 'me_myprofile' %}">Profile ME</a>
          {% endif %}
          {% if request.user.societe %}
              <a class="nav-link" style="color:#effbff;"  href="{% url 'ste_myprofile' %}">Profile STE</a>
          {% endif %}
        </li>
        <li class="nav-item dropdown">

          <a class="nav-link" style="color:#effbff;"  href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>