{% extends "main_authenticated.html" %} 
{% load static %}


{% load crispy_forms_tags %} 


{% block Content %}



    
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/societes.css' %}">

<div class="container ">
<ul class="row portfolio lightbox list-unstyled mb-0 shuffle boxed-portfolio" id="grid" >
    <div class="row text-left mb-3   mt-5 pt-5">
        <div class="col-lg-15 mb-3 mb-sm-0">
          <div class="mt-5 dropdown bootstrap-select form-control form-control-lg bg-white bg-op-9 text-sm w-lg-50" style="width: 100%;">
            
            <form class="">         

                <h5>{{ filter_Me.form.full_Name|as_crispy_field}}</h5>  
                <h5>{{ filter_Me.form.ville|as_crispy_field}}</h5>  

                <button class="btn btn-outline-success ml-5 mt-3" type="submit">Search</button>
            </form>
          </div>
        </div>
        
      </div>
    <!-- project -->

    {% for me in page_objAll %}

    <li class="col-md-6 col-lg-4 project shuffle-item filtered p-3" >
        <div class="card mb-0"   style="background-color:#272E48;">
            <div class="project">
                <figure class="portfolio-item">
                    <div class="hovereffect">
                        <img class="img-responsive d-flex p-3" src="{{me.photo.url}}" width="90%" height="200px" alt="">
                        <div class="overlay">
                            <div class="hovereffect-title project-icons">
                                <a href="{% url 'me_profile' me.id %}" data-toggle="modal" data-target=".project-modal2"><i class="fa fa-eye"></i></a>
                            </div>
                            <!-- / project-icons -->
                        </div>
                        <!-- / overlay -->
                    </div>
                    <!-- / hovereffect -->
                </figure>
                <!-- / portfolio-item -->
            </div>
            <!-- / project -->
            <div class="card-body">
                <a href="{% url 'me_profile' me.id %}" class="card-title title-link fs-16 fw-bold">{{ me.full_Name }}</a>
                <p class="card-text mt-5 mb-0 fs-14"><b>sience :</b> {{me.get_year}}</p>
            </div>
            <!-- / card-body -->
        </div>
        <!-- / card -->
    </li>
    <!-- / project -->

    {% endfor %}

</ul>
<!-- / portfolio -->
</div>




{% endblock Content %}