{% extends "main_authenticated.html" %} 
{% load static %}





{% block Content %}




<link rel="stylesheet" href="{% static 'css/p_ME.css' %}">


<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="{{me.photo.url}}" alt=""/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item nav-item-me">
                            <a class="nav-link active mb-3" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                            <div class="col-md-8">
                                <div class="tab-content profile-tab" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" style="color:#103744;">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Full Name</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>{{me.full_Name}}</p>
                                                    </div>
                                                    <hr>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Email</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>{{me.user.email}}</p>
                                                    </div>
                                                    <hr>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Phone</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>{{me.phone}}</p>
                                                    </div>
                                                    <hr>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Domaine</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>{{me.domaine}}</p>
                                                    </div>
                                                    <hr>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Ville</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>{{me.ville}}</p>
                                                    </div>
                                                    <hr>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Busy</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>
                                                            {% if me.active == false %}
                                                                No active
                                                            {% else %}
                                                                Active
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                                    <hr>
                                                </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
           
        </div>
    </form>           
</div>

{% endblock Content %}