
{% extends "main_Auth.html" %} 
{% load static %}


{% load crispy_forms_tags %} 

{% block Content %}


  <div class="container content_login mt-5">


    <div class=" container_login">

        <div class="card text-white bg-dark mb-3 card_login" >
          <div class="card-header text-center">
            <h1 class="fs-3 fw-bolder">Login</h1>

            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
              <li class="breadcrumb-item "><a href="{% url 'register' %}">Register</a></li>
            </ol>
          </div>
              <div class="card-body">
                <!--Form with header-->
                <form method="POST">
                  {% csrf_token %}

                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">User Name</label>
                      <input type="text" name="username" class="form-control">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" >
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
              </div>
        </div>
    </div>
  </div>
 {% endblock Content %}