{% extends "main_Auth.html" %} 
{% load static %}


{% load crispy_forms_tags %} 

{% block Content %}

  <div class="container  mb-3">


    <div class="container_register">

        <div class="card text-white bg-dark mb-3 card_register" >
          <div class="card-header text-center">
            <h1 class="fs-3 fw-bolder">Register</h1>

            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
              <li class="breadcrumb-item "><a href="{% url 'login' %}">Login</a></li>
            </ol>
          </div>
              <div class="card-body">
                

                <div class="alert alert-dismissible alert-success">
                    <strong>Well done!</strong> your password is changed successfully ^_^.
                </div>

              </div>
        </div>
    </div>
  </div>

 {% endblock Content %}