{% extends "main_STE.html" %} 
{% load static %}




{% block Content %}

<div class="container">


    <div class="card mb-3">


            <h3 class="card-header">
                <div><img src="{{ste.photo.url}}" width="100%" height="400px" alt=""></div>
            </h3>
            <div class="card-body">
            <h5 class="card-title">{{ste.name_STE}}</h5>
            <h6 class="card-subtitle text-muted">{{ste.desc}}</h6>
            <div>
                <span class="badge bg-success">{{ste.domaine}}</span>
                <span class="badge bg-success">{{ste.web_Site}}</span>

            </div>
            <div>
                <span class="badge bg-warning">Adress</span>
                <div style="width:50%;height: 150px;border: 0.5px solid;"></div>
            </div>
            <div>
                <span class="badge bg-primary">Posts</span>
                <div style="width:50%;height: 150px;border: 0.5px solid;padding: 10px;">
                    <div style="width:30%;height: 40px;border: 0.5px solid;" ></div>
                    <div style="width:30%;height: 40px;border: 0.5px solid;" ></div>
                    <div style="width:30%;height: 40px;border: 0.5px solid;" ></div>
                </div>
            </div>
            </div>
        </div>  
    



      
      
    
    
    
    
    
    
</div>





{% endblock Content %}