{% extends "main_authenticated.html" %} 
{% load static %}


{% load crispy_forms_tags %} 


{% block Content %}


    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/societes.css' %}">

<div class="container ">
    <ul class="row portfolio lightbox list-unstyled mb-0 shuffle boxed-portfolio" id="grid" >
        <div class="row text-left mb-3 mt-5 pt-5">
            <div class="col-lg-15 mb-3 mb-sm-0">
              <div class="mt-5 dropdown bootstrap-select form-control form-control-lg bg-white bg-op-9 text-sm w-lg-50" style="width: 100%;">
                
                <form class="">         

                    <h5>{{filter_Ste.form.name_STE|as_crispy_field}}</h5>  
                    <h5>{{filter_Ste.form.domaine|as_crispy_field}}</h5>  

                    <button class="btn btn-outline-success ml-5 mt-3" type="submit">Search</button>
                </form>
              </div>
            </div>
            
        </div>
        <!-- project -->


        {% for ste in page_objAll %}

            {% if ste.id == request.user.societe.id %}

                <li class="col-md-6 col-lg-4 project shuffle-item filtered p-3" >
                    <div class="card mb-0"  style="background-color:#272E48;">
                        <div class="project m-0">
                            <figure class="portfolio-item">
                                <div class="hovereffect">
                                    <img class="img-responsive d-flex p-3" src="{{ste.photo.url}}" width="90%" height="200px" alt="">
                                    <div class="overlay">
                                        <div class="hovereffect-title project-icons">
                                            <a href="{% url 'ste_myprofile' %}" data-toggle="modal" data-target=".project-modal2"><i class="fa fa-eye"></i></a>
                                        </div>
                                        <!-- / project-icons -->
                                    </div>
                                    <!-- / overlay -->
                                </div>
                                <!-- / hovereffect -->
                            </figure>
                            <!-- / portfolio-item -->
                        </div>
                        <!-- / project -->
                        <div class="card-body">
                            <a href="{% url 'ste_myprofile' %}" class="card-title title-link fs-16 fw-bold">{{ste.name_STE}}</a>
                            <p class="card-text mt-5 mb-0 fs-14"><b>sience :</b> {{ste.get_year}}</p>
                        </div>
                        <!-- / card-body -->
                    </div>
                    <!-- / card -->
                </li>
                <!-- / project -->
            {% else %}
                <li class="col-md-6 col-lg-4 project shuffle-item filtered p-3" >
                    <div class="card mb-0"  style="background-color:#272E48;">
                        <div class="project m-0">
                            <figure class="portfolio-item">
                                <div class="hovereffect">
                                    <img class="img-responsive d-flex p-3" src="{{ste.photo.url}}" width="90%" height="200px" alt="">
                                    <div class="overlay">
                                        <div class="hovereffect-title project-icons">
                                            <a href="{% url 'p_societe' ste.id %}" data-toggle="modal" data-target=".project-modal2"><i class="fa fa-eye"></i></a>
                                        </div>
                                        <!-- / project-icons -->
                                    </div>
                                    <!-- / overlay -->
                                </div>
                                <!-- / hovereffect -->
                            </figure>
                            <!-- / portfolio-item -->
                        </div>
                        <!-- / project -->
                        <div class="card-body">
                            <a href="{% url 'p_societe' ste.id %}" class="card-title title-link fs-16 fw-bold">{{ste.name_STE}}</a>
                            <p class="card-text mt-5 mb-0 fs-14"><b>sience :</b> {{ste.get_year}}</p>
                        </div>
                        <!-- / card-body -->
                    </div>
                    <!-- / card -->
                </li>
                <!-- / project -->
            {% endif %}


        {% endfor %}

    </ul>
    <!-- / portfolio -->

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>


    




{% endblock Content %}