{% extends "main_STE.html" %} 
{% load static %}


{% load crispy_forms_tags %} 


{% block Content %}

<div class="container">

    

    


    
      
    <div class="card mt-5">
        <div class="card-header position-relative p-3">
          Featured

        </div>
        <div class="card-body">
            <div class="container">
                <div class="row w-100">

                  <div class="col  border border-secondary d-flex">
                    <div class="card m-3 badge bg-dark w-100 d-flex">

                        <form class="">         

                            <span class="badge bg-dark ml-5"><h5>{{filter_Ste.form.name_STE|as_crispy_field}}</h5>  </span> 
                            <span class="badge bg-dark ml-5"><h5>{{filter_Ste.form.domaine|as_crispy_field}}</h5>  </span> 

                            <span> <button class="btn btn-outline-success ml-5" type="submit">Search</button></span>
                        </form>
                    </div>

                    <!-- <div class="card m-3">
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                            <label class="btn btn-outline-primary" for="btnradio1">All</label>
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" >
                            <label class="btn btn-outline-primary" for="btnradio2">this day</label>
                          
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio3">this Week</label>
                          
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio4">this Month</label>
                          </div>
                    </div> -->

                  </div>
                </div>
                <div class="row w-100">

                   
                    <div class="col  p-3  border border-secondary flex-grow-1 m-auto">
                        <!-- All -->
                        {% for ste in page_objAll %}
  
                          <div class="card w-80 m-5">
                              <div class="card-header">
                                  <h3>{{ ste.name_STE }}</h3>
                              </div>

                              <div class="card-body">
                                  <a href="{% url 'p_societe' ste.id %}" class="btn btn-primary">Show</a>
                              </div>
                          </div>
                          
                        {% endfor %}


                        
  
                    </div>
                  </div>
            </div>
        </div>
    </div>







    <!-- paginator -->
    <div class="pagination ">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    
    
</div>





{% endblock Content %}